.site-author-box
    text-align: center;
    .site-author-name
      font-weight: 600;
      font-size: 1rem;
      color: var(--color-text);
      margin: 0;
    .site-author-description
      color: var(--color-list);
      margin-top: 2px;
      text-align: center;
      font-size: 0.85rem;